
hr {
    margin-top: 35px;
    margin-bottom: 35px;
}

#linechart {
    padding-top: 10px;
    padding-bottom: 20px;
}

#overlap {
    padding-top: 20px;
}

img.fallback {
    max-width: 100%;
    height: auto;
}


/* headline numbers */

#mainnumbers {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 300;
}

.blocknum {
    font-size: 26px;
    display: inline-block;
}

#ganttSarah {
    width: 100%;
}


/* character blocks */

.nospace {
    padding-left: 0 !important;
    left: 0;
    margin-left: 0;
}

.gantt,
.name {
    display: inline-block;
}

img.headshot {
    height: 300px;
    width: auto;
    margin-right: 20px;
    margin-bottom: 10px;
}

.characterblock {
    width: 100%;
}

.trackertitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 1em;
    text-align: center;
}

.blocktitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
}

.name {
    margin-bottom: 12px;
}

.blocktext {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 6px;
    text-transform: uppercase;
}


/* table */

table {
    margin-top: 15px;
    margin-left: 20px;
    table-layout: fixed;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
}

th,
td {
    text-align: left;
    padding-bottom: 6px;
}

.rowname {
    width: 140px;
}

tr {
    /*border-bottom: 1px solid #eee;*/
}


/* chart divs */

#linechart {
    max-width: 700px;
}

.gantt {
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
}


/* chart elements */

.axis,
.axis-show {
    font-size: 11px;
    color: #333;
}

.axis path {
    display: none;
}

.axis-show path,
.axis-show line {
    fill: none;
    stroke-width: 1px;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #efefef;
}

.seasonline {
    fill: none;
    stroke-width: 1px;
    stroke: #000000;
    shape-rendering: crispEdges;
}

.seasonlight {
    fill: none;
    stroke-width: 1px;
    stroke: #afafaf;
    shape-rendering: crispEdges;
}

.seasonlabel {
    font-size: 14px;
}

.label-small {
    font-size: 13px;
}


/*line chart */

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: #ffffff;
    stroke: #4f8a83;
    stroke-width: 2;
}

.tip {
    font-size: 12px;
}

.legendline {
    shape-rendering: crispEdges;
    stroke-width: 1px;
}

.dot {
    fill: #ffffff;
    stroke: #4f8a83;
    stroke-width: 1;
}

.chartline {
    fill: none;
    stroke-width: 1px;
}


/* gantts */

.overlapbar {
    fill: #1B3536;
}

.overlapbar .selected {
    fill: #000000;
    opacity: 1;
}

.axistitle {
    font-size: 12px;
    font-style: italic;
}

.legend {
    fill: #fff;
    font-size: 13px;
}

text.legend {
    pointer-events: none;
}

.legendmob {
    fill: #fff;
    font-size: 11px;
}

.moblegendbar {
    fill: #1B3536;
}

@media(max-width:1188px) {
    .blocktitle.bottom {
        max-width: 60%;
    }
}

@media(max-width:767px) {
    img.headshot {
        height: auto;
        max-width: 100%;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

@media(max-width:600px) {
    .seasonlabel {
        font-size: 12px;
    }
}

/*miscellaneous graphs*/
.episodebar {
    fill: #467e77;
}

.episodebar .selected {
    fill: #000000;
}