body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato", Arial, "Helvetica Neue", Helvetica,  sans-serif;
    color: #333;
    font-size: 14px;
}

.intro {
    padding-top: 65px;
}

p {
    margin: 12 0 12px;
    padding-bottom: 6px;
    font-size: 14px;
    text-align: left;
}

.about {
    font-size: 0.9em;
}

p.copyright {
    margin: 15px 0 0;
}

.navbar {
    background-color: #000;
    border-color: #000;
    height: 50px;
    margin-bottom: 0px;
}

.navbar-default,
.navbar-brand,
.title {
    color: #fff !important;
    font-weight: 100;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #b6dce3;
}

.intro-header {
    text-align: center;
    color: #f8f8f8;
    background: url(../img/s3header.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
}

footer {
    border-top: 1px solid #c3c3c3;
    overflow-y: hidden;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ebebeb;
    bottom: 0;
}

footer h3 {
    font-weight: 100;
}

@media(max-width:767px) {
    .navbar-brand {
        font-size: 16px;
    }
    .navbar {
        height: auto;
    }
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message > h1 {
        font-size: 3em;
    }
    footer {
        padding-top: 1em;
    }
}